<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{team.name}}</mat-card-title>
      <mat-card-subtitle>{{team.coach}}</mat-card-subtitle>
      <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Image of a Shiba Inu">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <p>
      
    </p>
  </mat-card-content>
  <mat-card-actions class="my-card-actions">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" matTooltip="Editar"
      class="my-fab">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab color="warn" aria-label="Example icon button with a delete icon" class="my-fab" matTooltip="Borrar">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>