<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ player.name.first }}<!-- Número {{player.playerNumber}} --></mat-card-title>
<!--       <mat-card-subtitle>{{player.playerNumber}}</mat-card-subtitle>
 -->      <img mat-card-md-image src="../../../assets/img/icons/shield1.png"
        alt="Image of a Shiba Inu" style="width: 20%; height:100%">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <h3>Género: {{ player.gender }} </h3>
    <h3>Edad: {{ player.birthday }} </h3>
  </mat-card-content>
  <mat-card-actions class="my-card-actions">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" matTooltip="Editar"
      class="my-fab">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-fab color="warn" aria-label="Example icon button with a delete icon" class="my-fab" matTooltip="Borrar">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
  