<mat-toolbar>
    <img src="../../../assets/img/icons/soccer-team.png" alt="User" class="toolbar-image">
    <span class="toolbar-span"> Jugadores</span>
    <div class="example-spacer"></div>
    <button mat-fab color="primary" aria-label="boton-borrar" matTooltip="Agregar" class="my-fab" (click)="addEditPlayer()">
        <mat-icon>add</mat-icon>
      </button>
</mat-toolbar>
<mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
<div class="list">
    <div class="card">
        <app-card-player *ngFor="let player of listPlayers" [player]="player"></app-card-player>
    </div>
</div>
<h2 *ngIf="isError && !loading" class="spinner"><img src="../../../assets/img/icons/alert.png"><span>No se pueden
        mostrar los equipos en este momento.</span></h2>
<h2 *ngIf="!isError && !loading && listPlayers.length <= 0" class="spinner"><img
        src="../../../assets/img/icons/information.png"><span>No hay jugadores registrados.</span></h2>