.example-container {
  height: 270px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

.mat-toolbar {
  background: teal;
  color: #fff;
}

.toolbar-span {
  font-size: 14px
}

.toolbar-image {
  height: 40px;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.spinner img {
  //display: block;
  width: 50px;
  //transform: translate(-50%, -50%);

}

.spinner span {
  display: block;
}

@media (max-width: 600px) {
  h2.spinner {
      font-size: 10px;
  }
}

.pointer {
  cursor: pointer;
}

.my-fab {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 5px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}